:root {
    --foreground: #555;
    --foreground-alt: #aaa;
    --background: #fff;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, YakuHanJP, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;

    color: var(--foreground);
    background-color: var(--background);
}

/* Container */
.profile, .graphs {
    box-sizing: border-box;
    padding: 32px;
    margin: auto;

    width: 60%;
    min-width: 640px;
}

@media (max-width: 640px) {
    .profile, .graphs {
        width: 100%;
        min-width: initial;
    }
}

/* Avatar */
.profile-avatar {
    width: 128px;
    height: 128px;
    margin: 0;
}

.profile-avatar img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

/* Name */
.profile-name {
    color: var(--foreground);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.profile-name-nickname {
    color: var(--foreground-alt);
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

/* Descriptions */
.profile-description {
    margin: 32px 0;
}

/* Links */
.profile-links {
    padding-left: initial;
}

.profile-links li {
    list-style-type: none;
    margin: 4px 0;
}

.profile-links li a {
    color: inherit;
}

.profile-links-img {
    vertical-align: middle;
}

/* Graphs */
.graphs h1 {
    font-size: 28px;
    line-height: 28px;
}

.graphs h2 {
    font-size: 24px;
    line-height: 24px;
}

.graphs figure {
    width: 100%;
}

.graphs img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.graphs p {
    font-size: 16px;
    line-height: 16px;
    color: var(--foreground-alt);
}
